*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(174, 221, 237);
}
p{
    color: gray;
}
.highlight{
    background-color: yellow;
}
.box{
    background-color: wheat;
    color: rgb(114, 23, 23);
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}
.box.important{
    border: 2px red solid;
    background-color: rgb(247, 212, 108);
    font-weight: bold;
}
#main-div{
    padding: 20px;
    border: 2px solid black;
   background-color: beige;
   font-weight: bold;
   color: brown;
padding: 20px;
}
p span{
    color: rgb(136, 8, 138);
}   
.list-div li{
    color: rgb(189, 32, 32);
}
h1,h2,h3{
    text-align: left;
    color: rgb(6, 68, 68);
}
footer div{
    text-align: center;
    margin-top: 47px;
    font-size: 15px;
   
}